NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_MAGAZINES_BASE_URL=
NEXT_PUBLIC_POSTS_BASE_URL=
NEXT_PUBLIC_ADMIN_IMAGE_URL=
NEXT_PUBLIC_EDITORIAL_IMAGE_URL=
NEXT_PUBLIC_BANNER_BASE_URL=
NEXT_PUBLIC_SHOW_DEMO_OTP=
NEXT_PUBLIC_RAZORPAY_KEY=
MAINTENANCE_MODE=false
