Base
.article-content {
  line-height: 1.9;
  font-size: 16px;
  color: #222;
   white-space: pre-line;
}
.article-content {
font-family: Poppins, sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 22.5px;
color: rgb(51, 51, 51);
}

.article-content p {
  margin-bottom: 1rem;
}

/* Headings */
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
   white-space: pre-line;
}

/* Lists */
.article-content ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 1.2rem;
}

.article-content ol {
  list-style: decimal;
  padding-left: 1.5rem;
  margin-bottom: 1.2rem;
}

.article-content li {
  margin-bottom: 0.5rem;
}

/* Images */
.article-content img {
  max-width: 100%;
  height: auto;
  margin: 1.5rem auto;
  display: block;
}

/* Tables */
.article-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  overflow-x: auto;
  display: block;
}

.article-content th,
.article-content td {
  border: 1px solid #ddd;
  padding: 10px;
}

.article-content th {
  background: #f5f5f5;
  font-weight: 600;
}

/* Blockquotes */
.article-content blockquote {
  border-left: 4px solid #000;
  padding-left: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
  background: #fafafa;
}